.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 25px;
  margin-bottom: 50px;
  background-color: #64ccc57d;
  box-shadow: 9px 10px 22px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 9px 10px 22px 0px rgba(0, 0, 0, 0.75);
  width: 250px;
}

.link {
  text-align: center;
  margin-bottom: 10px;
  color: inherit;
  text-decoration: none;
}

.link:visited {
  color: inherit;
}

img {
  width: 150px;
  height: auto;
  border-radius: 50%;
}

h4 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

h5 {
  margin-top: 20px;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 20px;
}

.likeButton:hover {
  text-decoration: underline;
}

.likeButton.liked {
  color: gold;
}
