.favsContainer{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.cardsFavs {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px; 
    width: auto;
}