.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #64CCC5;
    margin-top: 90px;

  }
  
  .logo {
    width: 300px;
  }
  
  .socials {
    width: 35px;
    height: 35px;
    margin-right: 250px;
  }
  
  .socials-container {
    display: flex;
    gap: 8px;
  }
  