.navContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 75px;
    align-items: center;
    text-decoration: none;
  }
  
  .logo {
    margin-left: 200px;
    font-size: 25px;
    background-color: transparent;
  }
  
  .botones {
    display: flex;
    width: 200px;
    margin-right: 200px;
    justify-content: space-around;
  }
  
  .p {
    margin-left: 16px;
    font-size: 20px;
    background-color: transparent;

  }
  
  .p a:visited {
    text-decoration: none;
  }
  
  a:active,
  p:active,
  a:visited {
    text-decoration: none;
  }
  
  .themeButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    outline: none;
    padding: 0;
    margin: 0;
    color: #333;
  }
  