* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-align: center;


}

.light {
  background-color: #DAFFFB;
  color: #001C30;

}

.dark {
  background-color: #176B87;
  color: #ffffff;
}

.navContainer.dark {
  background-color: #001C30;
  color: #fff;
}

.navContainer.light {
  background-color: #62A388;
  color: #ffffff;
}




span{
  cursor: pointer
}


h1{
  margin-top: 25px;
  margin-bottom: 80px;
}


