* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Tema Claro */
.light {
  background-color: #ffffff;
  color: #000000;
}

/* Tema Oscuro */
.dark {
  background-color: #333333;
  color: #ffffff;
}


